@model IEnumerable<WeFruit.EFModels.Product>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_LayoutMaster.cshtml";
}

@section Style
{

}

<!--ftop开始-->
<!--ftop开始-->
<div class="ftop">
    <div class="index_search index_search01">
        <a class="back" onClick="javascript:history.back(-1);"><img src="~/Content/Images/icon_03.png"></a>
        <div>
            <input type="text" placeholder="请输入您要搜索的产品">
            <input class="dw" onclick="document.location='search_list.html'" type="button" value="">
        </div>
    </div>
    <div style="clear: both;"></div>
</div>
<!--ftop开始--> 
<!--ftop开始-->
<div class="search_list">
    <ul>
        @foreach (var products in Model)
        {
            <li>
                <a href="#">
                    <p>@products.ProPhotoes.Count</p>
                    @*@foreach (var s in products.ProPhotoes)
                    {
                        <img src="@s.ImgUrl"/>
                    }*@
                    <img src="@products.ProPhotoes.First().ImgUrl"/>
                    <div class="search_item">
                        <p>@products.Name</p>
                        <h2>
                            <i>￥</i><b>@products.SellPrice</b><span>月销18252笔</span>
                        </h2>
                    </div>
                </a>
            </li>
        }
    </ul>
</div>

@section Scrpit
{
    <script>
        $(".search_list ul li a img").each(function() {
            var w = $(this).width();
            $(this).height(w + "px");
        })

    </script>

}
